#container {
    font-family:'Open Sans', sans-serif;
    width: 450px;
    margin:0 auto;
    margin-top:15%;
    background-color: rgb(247, 247, 247);
    padding : 30px;
    box-shadow: 0px 0px 15px rgba(128, 128, 128, 0.452);
    border-radius: 10px;
}

body {
    background: linear-gradient(#97bce6, #afcae8);
    background-attachment: fixed;
}

.Connexion_titre_blocConnexion {
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
}

.Connexion_input_login,  .Connexion_input_password {
    border-radius: 10px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;

}

.Connexion_bouton_continuer {
    background-color: #7846a1;
    color: white;
    padding: 14px 20px;
    margin: 4px 0;
    border: 1px solid transparent;
    cursor: pointer;
    width: 100%;
    margin-top: 30px;
    border-radius: 3px;
}

.Connexion_bouton_inscription {
    background-color: #7846a1;
    color: white;
    padding: 14px 20px;
    margin: 4px 0;
    border: 1px solid transparent;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    border-radius: 3px;
}

.Connexion_bouton_inscription:hover, .Connexion_bouton_continuer:hover {
    background-color: white;
    color: #7846a1;
    border: 1px solid #7846a1;
}

