body{background-color: #97bce6;}

.entete{
    text-align : center; 
    color : red;
}

.inscription_titre{
    text-align: center; 
    font-size : 30px;
}

.erreur{
    font-size: 20px;
    text-align: center;
    color : red;
}

.interligneValider{font-size: 20px;}

input{
    border-radius: 5px;
}

input:hover, input:focus{
    box-shadow: 0px 0px 15px rgba(128, 128, 128, 0.452);
}

.inscription_formulaire{
    width:600px;
    margin:0 auto;
    margin-top:1%;
    background-color: #afcae8;
    padding : 30px;
    box-shadow: 0px 0px 15px rgba(128, 128, 128, 0.452);
    border-radius: 10px;
}

.inscription_formulaire h1{
    width: 100%;
    font-size: 30px;
    margin: 0 auto;
    padding-bottom: 10px;
}

input{
    width : 100%;
    font-size: 18px;;
}
/*
input[type = prenom], input[type = nom], input[type = pseudo]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid rgb(58, 60, 155);
    box-sizing: border-box;
}
*/
input[type=submit] {
    background-color: #2b08f5;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid transparent;
    cursor: pointer;
    width: 100%;
    margin-top: 30px;
}

input[type=submit]:hover {
    background-color: white;
    color: #7846a1;
    border: 1px solid #7846a1;
}

.inscription_formulaire label{
    font-size: 20px;
}